.userModelingOverviewHighlights{
    background-color: #1e2852;
}

.userModelingLogTrend {
    background-color: #1e2852;
}

.userModelingDetailPanel1 {
    background-color: #273468;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}